* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/courses.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.products {
  background-image: url('/images/github.png');
  background-position: center;
  background-size: fill;
  background-repeat: repeat;
  color: #fff;
  font-size: 100px;
  
}

.products p {
  font-size: 50px;
}

.sign-up {
  background-image: url('/images/SJSU-campus.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
